mixin video(video)
  .video-item
    div.video_thumnail_container   
      video.video_thumnail(preload="metadata" src="/" + video.fileUrl)
    h4
      a(href=`/videos/${video.id}`)= video.title
    div.video_content
      p= video.description
      ul
        each hashtag in video.hashtags
          li= hashtag
      small= video.createdAt
      