.profile-edit {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.profile-edit form {
  background-color: #353535;
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
}

.profile-edit form input {
  height: 50px;
  margin: 10px 0;
  padding: 0px 15px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background-color: transparent;
  font-size: 18px;
  color: $white;
}

.profile-edit form input[type=submit] {
  border: none;
  color: $white;
  border-bottom: 1px solid black;
}

.avatar {
  display: flex;
  justify-content: center;
  padding: 30px;
  align-items: center;
}

.avatar img{
  border-radius: 75px;
  overflow: hidden;
  width: 150px;
  height: 150px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  object-fit: cover;
}

.avatar input {
  text-align: center;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: $background;
  color: $white;
  margin-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}