extends base

block content
  div.form-container
    if errorMessage
      span.error-message= errorMessage
    .join_container 
      form(method="post")
        input(type="text", name="username", placeholder="Username")
        input(type="password", name="password", placeholder="Password")
        input(type="submit", value="Login")
      div.social-login
        a.github(href="/oAuth/github/start") 깃허브 로그인
        a.kakao(href="/oAuth/kakao/start") 카카오 로그인
      hr
      div
        span 계정이 없으세요? 
        a(href="/join") 계정 생성하기 &rarr;