extends base.pug

block content
  form(method="POST")
    input(type="text", name="title", placeholder="title", required=true)
    input(type="text", name="description", placeholder="description", required=true)
    input(type="text", name="hashtags", placeholder="hashtags", required=true)
    input(type="submit", value="upload video") 