extends ../base.pug
include ../mixins/video

block content
  .profile_wrapper 
    div.profile_title=user.username+" 님의 영상"
  .video-grid-for-profile
    each video in user.videos 
      +video(video)
  